<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-12
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.jzl.dao.user.UserDao">

	<resultMap id="userResultMap" type="com.jzl.po.user.User">
		<id property="id" column="id" />
       <result property="name" column="name" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="userResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="userResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.jzl.po.user.User" useGeneratedKeys="true" keyProperty="id" >
	   insert into user (
	     id,
	     name
	   )values (
	     #{id},
	     #{name}
	   )
	</insert>

	<update id="update" parameterType="com.jzl.po.user.User">
		update user
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="name != null">
				name=#{name},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     user 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="userResultMap">
	   select 
	    id,
	    name
	   from user
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="userResultMap">
	   select 
	     id,
	     name
	   from user
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    name
	   from user
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     name
	   from user
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     name
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from user
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	   </where>
	</sql>

	
</mapper> 